<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjsUsfdWMIF1rr4EYl_v__1B8NH_jjsEM</string>
	<key>GCM_SENDER_ID</key>
	<string>823590010110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.website</string>
	<key>PROJECT_ID</key>
	<string>matrix-edge-demo-website</string>
	<key>STORAGE_BUCKET</key>
	<string>matrix-edge-demo-website.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823590010110:ios:dc4032acb06925208979af</string>
</dict>
</plist>